#!/usr/bin/env python3

jobs = {
    "lineage": { "devices": { "gprimelte": ["14.1", "15.1"], "j7ltespr": ["14.1", "15.1"] }, "picks": [1249, "android-o-mr1-camera1-hal"] },
    "lineage-go": { "devices": {}, "picks": [] },
    "rr": { "devices": { "gprimelte": ["6.0.0"], "j7ltespr": ["6.0.0"] }, "picks": [] },
}
